body{
background-color: beige;
}


  h1{
  text-align: center;
  color: green;
  width: 100%;
  }

  .hide-me{
  visibility: hidden;
}

#bottom{
  position: relative;
  background-color: darkblue;
  /*height: 150px;*/
}
