body{
background-color: beige;
position: relative;
}


  h1{
  text-align: center;
  color: green;
  width: 100%;
  }

  .hide-me{
  visibility: hidden;
}

#bottom{
  position: relative;
  background-color: darkblue;
  top: 600px;
  height: 100px;
}
